# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.log
local.properties
.idea/
.vscode/
android/.gradle/
android/local.properties
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework.ios/Flutter/Flutter.podspec
